footer {
  width: 100%;
  min-height: 200px;
  background-color: var(--navy);
  margin-top: 50px;
  padding: 15px 15vw;

  color: var(--light-brown);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer a {
  color: var(--light-brown);
}
